@import "tailwindcss";
@import "./assets/fonts-icon/icomoon.css";


:root {
  --primary: #2E7D32;
  --secondary: #66BB6A;
  --bg-color-body: #ecf3f9;
  --text-color: #f0f6fc;
  --bg-input: #F9F9F9;
  --border-input: #D1D5DB;
  --text-color-placeholder: #9CA3AF;
  --text-color-black: #333333;
}

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  body {
    @apply text-base bg-(--bg-color-body);
  }

  input {
    @apply outline-none;
  }
}




#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn-primary {
  @apply bg-(--primary) border border-(--primary) text-white h-[48px] flex items-center justify-center rounded-[8px] cursor-pointer;
}

.input-primary {
  @apply bg-(--bg-input) border border-(--border-input) rounded-[8px] placeholder-(--text-color-placeholder) px-3.5 py-3.5 text-(--text-color-black);
}

.layout-container {
  @apply w-full lg:max-w-7xl lg:mx-auto;
}